.App {
    font-family: 'Times New Roman'
    , Times
    , serif;
    text-align: center;
    }
    .flex-container {
    display: flex;
    justify-content: center;
    }
    .container {
    border-radius: 50%;
    height: 50px;
    width: 100px;
    margin: 25px;
    border: 1px solid #de338e;
    display: flex;
    justify-content: center;
    align-items: center;
    }